---
- name: Install packages
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - build-essential

- name: Create dirctries
  file: path={{ item }} state=directory owner=root group=root mode=0755
  with_items:
    - "{{ contracts_path }}"

- name: Clone resources
  git:
    repo: "{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - { src: 'https://github.com/AlisProject/private-chain-contracts.git', dest: "{{ contracts_path }}" }
    - { src: 'https://github.com/riywo/ndenv', dest: "~/.ndenv" }
    - { src: 'https://github.com/riywo/node-build.git', dest: "~/.ndenv/plugins/node-build" }

- name: Add lines to .bashrc
  lineinfile:
    path: ~/.bashrc
    line: "{{ item }}"
    insertbefore: EOF
  with_items:
    - 'export PATH="$HOME/.ndenv/bin:$PATH"'
    - 'eval "$(ndenv init -)"'
    - 'export PRIVATE_CHAIN_ALIS_TOKEN_ADDRESS={{ private_chain_alis_token_address }}'
    - 'export PRIVATE_CHAIN_MAIN_SIGNER_ADDRESS={{ private_chain_main_signer_address }}'

- name: Install and prepare modules
  shell: "{{ item }}"
  args:
    chdir: "{{ contracts_path }}"
  with_items:
    - "~/.ndenv/bin/ndenv install"
    - "/root/.ndenv/shims/npm install -g yarn"
    - "~/.ndenv/bin/ndenv exec yarn"
    - "~/.ndenv/bin/ndenv exec yarn exec truffle -- install"
