---
- name: Init
  file: src=/usr/bin/python3 dest=/usr/bin/python owner=root group=root state=link

- name: Get Parity install script
  get_url: url="https://get.parity.io" dest=/tmp/parity.sh mode=0755

- stat: path=/usr/bin/parity
  register: parity

- name: Install Parity
  shell: /tmp/parity.sh -r stable
  when: not parity.stat.exists

- name: Create working directory
  file: path={{ parity_dir }} state=directory owner=root group=root mode=0755

- name: Deliver configuration files for Parity private net
  template: src={{ item.src }} dest={{ parity_dir }}/{{ item.dest }} backup=yes
  with_items:
    - { src: 'spec.json.j2', dest: 'spec.json' }
    - { src: 'node.toml.j2', dest: 'node.toml' }
    - { src: 'node.pwds.j2', dest: 'node.pwds' }

