---
- name: Init
  file: src=/usr/bin/python3 dest=/usr/bin/python owner=root group=root state=link

- name: Install jq
  apt:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - jq

- name: Get Parity install script
  command: curl https://get.parity.io -kL -o /tmp/parity.sh

- file: path=/tmp/parity.sh mode=0755

- stat: path=/usr/bin/parity
  register: parity

- name: Install Parity
  shell: /tmp/parity.sh
  when: not parity.stat.exists

- name: Create working directory
  file: path={{ parity_dir }} state=directory owner=root group=root mode=0755

- name: Deliver configuration files for Parity private chain
  template: src={{ item.src }} dest={{ parity_dir }}/{{ item.dest }} backup=yes
  with_items:
    - { src: 'spec.json.j2', dest: 'spec.json' }
    - { src: 'node.toml.j2', dest: 'node.toml' }
    - { src: 'node.pwds.j2', dest: 'node.pwds' }

